<div class="alert alert-danger" role="alert" style="margin-top:1rem; text-align:center;">
    <h1>No tienes permitido acceder aqui</h1>
  </div>

  <script LANGUAGE="JavaScript">
      function redireccionar() 
      {
      location.href="/"
      } 
      setTimeout ("redireccionar()", 3500);
      </script> 
      

<% include footer %>