<% include header %>
<style>
    td{
        color: thistle;
    }
    th{
        color: thistle;
    }
</style>
<h1 style="text-align: center; margin: 3rem; color: thistle;"> Armas</h1>
  </table>
  <table class="table table-hover" style="margin-top: 3rem;">
    <thead>
      <tr>
        <th scope="col">Imagen zombie</th>
        <th scope="col">Imagen arma</th>
        <th scope="col">Nombre</th>
        <th scope="col">Información</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><img src="https://vignette.wikia.nocookie.net/aliens/images/8/8a/Necromorphs.jpg/revision/latest?cb=20080604040737" alt="slasher" style="width: 15rem; height: 10rem;"></th>
        <th scope="row"><img src="https://darkdevastation.files.wordpress.com/2013/01/slasherdeath.gif?w=450&h=303" alt="slasher"style="width: 15rem; height: 10rem;"></th>
        <td>Garras y Escupitajo</td>
        <td>El slatcher tiene un par de garras puntiagudas con las cuales ataca a sus enemigos, al igual de tener la habilidad de escupir acido.</td>

      </tr>
      <tr>
        <th scope="row"><img src="https://steamuserimages-a.akamaihd.net/ugc/922550307744393539/7379EB6D169A62D098AF37B0F267516434A36360/?interpolation=lanczos-none&output-format=jpeg&output-quality=95&fit=inside%7C637%3A358&composite-to=*,*%7C637%3A358&background-color=black" alt="leaper" style="width: 15rem; height: 10rem;"></th>
        <th scope="row"><img src="https://i.gifer.com/kwY.gif" alt="leaper"style="width: 15rem; height: 10rem;"></th>
        <td>Cola puntiaguda</td>
        <td>El leaper es tiene una cola muy larga y puntiaguda con la que puede atravesar a las personas, además de poder trepar por las paredes, puede ser fácil de pisar si es que no te pincha con la cola primero.</td>

      </tr>
      <tr>
        <th scope="row"><img src="https://vignette.wikia.nocookie.net/deadspace/images/0/09/Infector22.jpg/revision/latest?cb=20130307184500&path-prefix=es" alt="infector" style="width: 15rem; height: 10rem;"></th>
        <th scope="row"><img src="https://darkdevastation.files.wordpress.com/2013/02/infector.gif?w=400&h=214" alt="infector"style="width: 15rem; height: 10rem;"></th>
        <td>Propagacion</td>
        <td>El infector se encarga de propagar el virus en los cadáveres reanimándolos y asi estos muten en un slasher pero mas fuerte que los slasher normales.</td>
      </tr>

      <tr>
            <th scope="row"><img src="https://s-media-cache-ak0.pinimg.com/originals/de/13/43/de1343cc721e0929b21a9081f01d786a.jpg" alt="exploder" style="width: 15rem; height: 10rem;"></th>
            <th scope="row"><img src="https://static.giantbomb.com/uploads/original/0/2403/1059857-exploders.jpg" alt="exploder"style="width: 15rem; height: 10rem;"></th>
            <td>Pústula explosiba</td>
            <td>El exploder puede ser peligroso si se esta muy cercas de él y está en manada, ya que no dudara en hacer estallar su pústula aunque esto sea suicida.</td>
          </tr>

          <tr>
                <th scope="row"><img src="https://vignette.wikia.nocookie.net/deadspace/images/1/18/Brute.jpg/revision/latest?cb=20120505205714" alt="brute" style="width: 15rem; height: 10rem;"></th>
                <th scope="row"><img src="https://darkdevastation.files.wordpress.com/2013/04/brute.gif?w=450&h=233" alt="brute"style="width: 15rem; height: 10rem;"></th>
                <td>Fuerza bruta y blindaje</td>
                <td>El brute es uno de los más fuertes y resistentes, su forma de atacar es aventarse hacia el enemigo intentando golpearlo, si te agarra date por muerto. La única forma de eliminarlo es dando en sus puntos débiles, pero no te la pondrá fácil.</td>
              </tr> 

              <tr>
                    <th scope="row"><img src="https://steamuserimages-a.akamaihd.net/ugc/922550307743136224/B2A42E7B0581D8E00A6F13A82F871A552ABCB6FE/?interpolation=lanczos-none&output-format=jpeg&output-quality=95&fit=inside%7C268%3A268&composite-to=*,*%7C268%3A268&background-color=black" alt="lurker" style="width: 15rem; height: 10rem;"></th>
                    <th scope="row"><img src="https://media.giphy.com/media/ylZHqQMDY0ZK8/giphy.gif" alt="lurker"style="width: 15rem; height: 10rem;"></th>
                    <td>Escalar y proyectiles</td>
                    <td>Los Lurker a pesar de ser pequeños son demasiado peligrosos ya que pueden escalar en cualquier superficie y usan sus tres extremidades que salen de su espalda para lanzar proyectiles que pueden matarte, pero no solo eso si logras acercarte a uno de ellos no se te lanzara en sima para picarte con sus extremidades.</td>
                  </tr> 
    </tbody>
  </table>
  <% include footer %>