<% include header %>

<h1 style="text-align:center; margin-top: 3rem; color: thistle">Clases de zombies</h1>

<div class="card" style="width: 20rem; float: right; margin:4rem;">
        <img class="card-img-top" style="height: 11rem;width: 318px;" src="https://vignette.wikia.nocookie.net/aliens/images/8/8a/Necromorphs.jpg/revision/latest?cb=20080604040737" alt="Card image cap">
        <div class="card-body">
          <p class="card-text"><h3 style="text-align:center;">Slasher</h3></p>
        </div>
      </div>
    
      <div class="card" style="width: 20rem; float: right; margin:4rem;">
        <img class="card-img-top" style="height: 11rem;width: 318px;" src="https://steamuserimages-a.akamaihd.net/ugc/922550307744393539/7379EB6D169A62D098AF37B0F267516434A36360/?interpolation=lanczos-none&output-format=jpeg&output-quality=95&fit=inside%7C637%3A358&composite-to=*,*%7C637%3A358&background-color=black" alt="Card image cap">
        <div class="card-body">
          <p class="card-text"><h3 style="text-align:center;">Leaper</h3></p>
        </div>
      </div>
    
      <div class="card" style="width: 20rem; float: right; margin:4rem;">
        <img class="card-img-top" style="height: 11rem;width: 318px;" src="https://vignette.wikia.nocookie.net/deadspace/images/0/09/Infector22.jpg/revision/latest?cb=20130307184500&path-prefix=es" alt="Card image cap">
        <div class="card-body">
          <p class="card-text"><h3 style="text-align:center;">Infector</h3></p>
        </div>
      </div>

      <div class="card" style="width: 20rem; float: right; margin:4rem;">
            <img class="card-img-top" style="height: 11rem;width: 318px;" src="https://s-media-cache-ak0.pinimg.com/originals/de/13/43/de1343cc721e0929b21a9081f01d786a.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text"><h3 style="text-align:center;">Exploder</h3></p>
            </div>
          </div>

          <div class="card" style="width: 20rem; float: right; margin:4rem;">
                <img class="card-img-top" style="height: 11rem;width: 318px;" src="https://vignette.wikia.nocookie.net/deadspace/images/1/18/Brute.jpg/revision/latest?cb=20120505205714" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text"><h3 style="text-align:center;">Brute</h3></p>
                </div>
              </div>

              <div class="card" style="width: 20rem; float: right; margin:4rem;">
                    <img class="card-img-top" style="height: 11rem;width: 318px;" src="https://steamuserimages-a.akamaihd.net/ugc/922550307743136224/B2A42E7B0581D8E00A6F13A82F871A552ABCB6FE/?interpolation=lanczos-none&output-format=jpeg&output-quality=95&fit=inside%7C268%3A268&composite-to=*,*%7C268%3A268&background-color=black" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text"><h3 style="text-align:center;">Lurker</h3></p>
                    </div>
                  </div>

<% include footer %>