<!DOCTYPE html>
<html lang="en">
  <style>
    body{
      background-image: url("http://futurestuffs.com/wp-content/uploads/2018/02/space-wallpaper-1920x1080-1.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
  </style>
<head>
    <meta charset="UTF-8">
    <title>Zombies</title>
    <link rel="stylesheet" href="../imagenes/bootstrap.min.css">
    <link rel="stylesheet" href="../imagenes/style.css">
</head>
<body> 
        <div class="card" style="background-color: transparent; position: relative; left: 28rem; width: 29rem;">
                <div class="card-header">
                <img src="http://4.bp.blogspot.com/-7M4Q1XKz7Dg/UU95gtabQSI/AAAAAAAABjQ/NLRtbNyFXS8/s1600/DeadSpaceTitle_zpsb5dfd746.png" alt="logo"
                width="420" height="200" pull-middle/>
                </div>
                <div class="card-body" style="position: relative; left: 6rem;">
                <a href="/clases" class="btn btn-primary pull-middle">Clases</a>
                <a href="/armas" class="btn btn-primary pull-middle">Armas</a>
                <a href="/victimas" class="btn btn-primary pull-middle">Victimas</a>
                </div>
              </div>
